@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz@10..72&family=Yellowtail&display=swap');
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
li,
aside,
footer,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
h1,
h2,
 h3{ 
    color: #E07A5F;
}

body {
    color: #B9B28A;
    font-family: "Big Shoulders Inline", sans-serif;
}
nav,
footer {
    background-color: #98D2C0;
    font-family: "Big Shoulders Inline", sans-serif
}

.drinks {
    background-color: #98D2C0;
}
main li:hover {
    border: 2px solid white;
}

ul {
    list-style-type: none;
}

.drinks li {
    padding-top: 40px;
}

.drinks li {
    margin-right: 15px;
    margin-left: 15px;
}
.navbar ul {
    display: grid;
    grid-template-columns:  repeat(4, 100px);
    grid-gap: 10px;
    justify-content: right;
    justify-items: center;
    font-size: 1.5em;
}
nav a {
    color: white;
    text-decoration: none;
}
footer {
    padding-top: 20px;
    height: 50px;
    color: white;
    text-align: center;
}
.hero {
    text-align: center;
}
.hero-text h1{
    font-size: 5em;
}
.hero-text h2{
    font-size: 1.5em;
}
.drinks h2{
    font-size: 3em;
}
h3.beverage {
    font-size: 1.5em;
}
.drinks {
    padding-bottom: 60px;
}
h2{
    padding-top: 40px;
    margin-right: 15px;
    margin-left: 15px;
}
.drinks li {
    border-top: 1px dotted white;
}
p{
    font-size: 1.25em
}
.beverage::before {
    font: var(--fa-font-solid);
    content: "\f000";

}